body {
    background-color: lightblue;
}

header {
    background-color: darkgray;
    margin-left: 20%;
    margin-right: 20%;
    font-family: sans-serif;
}

ul {
    list-style: none;
}
#main {
    background-color: beige;
    font-family: sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
}

#login {
    width: 100%;
    background-color: darkgray;
    display: inline-block;
}

#olleListe {
    background-color: darkgray;
}

.loginElementList {
    float: left;
    margin-right: 10px;
    margin-left:  10px;
}

#friendList {
    background-color: darkgray;
    display: none;
}

#mainScreen {
    background-color: darkgray;
    display: none;
}

#addFriend {
    background-color: beige;
    display: none;
}

#updateDelete {
    display: none;
}

#actualProperties {
    display: none;
}

#map {
    width: 100%;
    height: 600px;
    display: none;
}
