body {
    background-color: lightblue;
}
#main {
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
}

#login {
    width: 100%;
    background-color: darkgray;
}
#olleListe {
    background-color: darkgray;
}

.loginElementList {
    float: left;
    margin-right: 10px;
    margin-left:  10px;
}

#friendList {
    background-color: darkgray;
    display: none;
}


#mainScreen {
background-color: darkgray;
    display: none;
}

#addFriend {
    background-color: beige;
    display: none;
}

#updateDelete {
    display: none;
}

#actualProperties {
    display: none;
}

#map {
    width: 600px;
    height: 400px;
    display: none;
}
